.user-avatar {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.header {
    background-image: url('https://assets2.razerzone.com/images/og-image/1200x630_razerstore-london-page_OG.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.card-img-top {
    width: 100%;
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen cubra el área especificada */
}

.products .card {
    margin-bottom: 30px;
}
.products .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

.rating {
    direction: rtl;
    display: inline-block;
    unicode-bidi: bidi-override;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.rating input:checked ~ label {
    color: #f39c12;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #f39c12;
}